// Opacity utilities
// scss-docs-start utils-opacity
"opacity": (
  property: opacity,
  values: (
    0: 0,
    25: .25,
    50: .5,
    75: .75,
    100: 1,
  )
),
// scss-docs-end utils-opacity
// scss-docs-start utils-overflow
"overflow": (
  property: overflow,
  values: auto hidden visible scroll,
),
// scss-docs-end utils-overflow
// scss-docs-start utils-display
"display": (
  responsive: true,
  print: true,
  property: display,
  class: d,
  values: inline inline-block block grid table table-row table-cell flex inline-flex none
),
// scss-docs-end utils-display
// scss-docs-start utils-shadow
"shadow": (
  property: box-shadow,
  class: shadow,
  values: (
    null: $box-shadow,
    sm: $box-shadow-sm,
    lg: $box-shadow-lg,
    none: none,
  )
),
// scss-docs-end utils-shadow
