/**
 * Root Media Query Variables
 */

 $default-width: 38.125rem;
 $max-content-width: 1240px;

:root
{
    $responsive-base: 1.26vw;
    $responsive-aligndefault-width: calc(100vw - $responsive-base);
    $responsive-alignwide-width: calc(100vw - $responsive-base);
    $responsive-alignfull-width: 100%;
    $responsive-alignright-margin: $responsive-base;
    $responsive-alignleft-margin: $responsive-base;
}

@include media(mobile)
{
    :root
    {
        $responsive-base: 1.26vw;
        $responsive-aligndefault-width: min(calc(100vw - 4vw) * $responsive-base), #{$default-width};
        $responsive-alignwide-width: calc(100vw - 4vw) * $responsive-base;
        $responsive-alignright-margin: min(calc(.5 * 100vw) - $responsive-base);
        $responsive-alignleft-margin: calc(.5 * (100vw - $responsive-base));
    }
}

@include media(desktop)
{
    :root
    {
        $responsive-base: 1.26vw;
        $responsive-aligndefault-width: min(calc(100vw - 8 * $responsive-base)), #{$default-width};
        $responsive-alignwide-width: min(calc(100vw - 8 * $responsive-base)), #{$max-content-width};
    }
}

/**
 * Extends
 */

$responsive-base: 1.26vw;
$responsive-aligndefault-width: min(calc(100vw - 8 * $responsive-base)), #{$default-width};
$responsive-alignwide-width: min(calc(100vw - 8 * $responsive-base)), #{$max-content-width};
%responsive-aligndefault-width
{
    max-width: $responsive-aligndefault-width;
    margin-right: auto;
    margin-left: auto;
}

%responsive-alignwide-width
{
    max-width: $responsive-alignwide-width;
    margin-right: auto;
    margin-left: auto;
}

$responsive-alignfull-width: 100vw;
%responsive-alignfull-width-mobile
{
    width: $responsive-alignfull-width;
    max-width: $responsive-alignfull-width;
    margin-right: auto;
    margin-left: auto;
}

@include media(mobile)
{
    %responsive-alignfull-width
    {
        width: auto;
        max-width: $responsive-alignfull-width;
        margin-right: auto;
        margin-left: auto;
    }
}

%responsive-alignwide-width-nested
{
    width: $responsive-alignwide-width;
    max-width: $responsive-alignfull-width;
    margin-right: auto;
    margin-left: auto;
}

%responsive-alignfull-width-nested
{
    width: calc($responsive-alignfull-width) - calc(2 * $responsive-base);
    max-width: $responsive-alignfull-width;
    margin-right: auto;
    margin-left: auto;
}

@include media(desktop)
{
    %responsive-alignfull-width-nested
    {
        width: calc($responsive-alignfull-width) - calc(4 * $responsive-base);
        max-width: $responsive-alignfull-width;
        margin-right: auto;
        margin-left: auto;
    }
}


%responsive-alignleft-mobile
{
    /*rtl:ignore*/
    margin-right: $responsive-base;
    /*rtl:ignore*/
    margin-left: 0;
}

@include media(mobile)
{
    $responsive-alignleft-margin: calc(.5 * (100vw - $responsive-base));
    %responsive-alignleft
    {
        /*rtl:ignore*/
        margin-right: $responsive-base;
        /*rtl:ignore*/
        margin-left: $responsive-alignleft-margin;
    }
}

%responsive-alignright-mobile
{
    /*rtl:ignore*/
    margin-right: 0;
    /*rtl:ignore*/
    margin-left: $responsive-base;
}

@include media(mobile)
{
    $responsive-alignright-margin: min(calc(.5 * 100vw) - $responsive-base);
    %responsive-alignright
    {
        /*rtl:ignore*/
        margin-right: $responsive-alignright-margin;
        /*rtl:ignore*/
        margin-left: $responsive-base;
    }
}
// Output
.default-max-width
{
    @extend %responsive-aligndefault-width;
}

.wide-max-width
{
    @extend %responsive-alignwide-width;
}

.full-max-width
{
    @extend %responsive-alignfull-width;
}
