/* Error: expected "}".
 *    ,
 * 35 | }
 *    |  ^
 *    '
 *   tools/mixins/grid/_grid.scss 35:2  @import
 *   tools/mixins/_grid.scss 1:9        @import
 *   tools/_grid-mixins.scss 33:3       @import
 *   grid.scss 37:9                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a    \2577 \a 35 \2502  }\a    \2502   ^\a    \2575 \a   tools/mixins/grid/_grid.scss 35:2  @import\a   tools/mixins/_grid.scss 1:9        @import\a   tools/_grid-mixins.scss 33:3       @import\a   grid.scss 37:9                     root stylesheet';
}
