/* Error: Undefined variable.
 *    ,
 * 14 |   100: $gray-100,
 *    |        ^^^^^^^^^
 *    '
 *   variables/colors/_grid-colors.scss 14:8  @import
 *   variables/_grid-variables.scss 4:3       @import
 *   grid.scss 36:9                           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 14 \2502    100: $gray-100,\a    \2502         ^^^^^^^^^\a    \2575 \a   variables/colors/_grid-colors.scss 14:8  @import\a   variables/_grid-variables.scss 4:3       @import\a   grid.scss 36:9                           root stylesheet";
}
