@mixin production-border() {
  border-width: medium;
  border-style: solid;
  border-radius: .75rem;
}

@mixin make-masthead-grid() {
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-auto-rows: 1;
}

.page {
  @include production-border();
  border-color: $red;
}

.container,
[class^='container-'],
.container-fluid {
  @include production-border();
  border-color: $orange;
  background: $gray-700;
}

.grid {
  @include production-border();
  border-color: $yellow;
  background: $gray-500
}

.row,
.row-fluid {
  @include production-border();
  border-color: $green;
  background: $gray-300
}

.col {
  @include production-border();
  border-color: $blue;
  background: $gray-100
}
