
$enable-caret: true;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;
$enable-reduced-motion: true;
$enable-smooth-scroll: true;
$enable-grid-classes: true;
$enable-container-classes: true;
$enable-cssgrid: true;
$enable-button-pointers: true;
$enable-rfs: true;
$enable-validation-icons: true;
$enable-negative-margins: true;
$enable-deprecation-messages: true;
$enable-important-utilities: true;

@import "functions";
@import "mixins";
@import "utilities";
@import "branding/colors";
@import "branding/typography";
@import "layout/spacing";
@import "grid";
@import "root";
@import "reboot";
@import "layout/components";
@import "layout/elements";
@import "helpers";
@import "media-query";

/* Typography */

$body-text-align: null;
$paragraph-margin-bottom: 1rem;
