$gray-100-rgba: rgba(192,192,192);
$gray-200-rgba: rgba(154 154 154);
$gray-300-rgba: rgba(123, 123, 123);
$gray-400-rgba: rgba(98 98 98);
$gray-500-rgba: rgba(78,78,78);
$gray-600-rgba: rgba(62,62,62);
$gray-700-rgba: rgba(50,50,50);
$gray-800-rgba: rgba(40,40,40);
$gray-900-rgba: rgba(26,26,26);
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays-rgba: (
  gray-100-rgba: $gray-100-rgba,
  gray-200-rgba: $gray-200-rgba,
  gray-300-rgba: $gray-300-rgba,
  gray-400-rgba: $gray-400-rgba,
  gray-500-rgba: $gray-500-rgba,
  gray-600-rgba: $gray-600-rgba,
  gray-700-rgba: $gray-700-rgba,
  gray-800-rgba: $gray-800-rgba,
  gray-900-rgba: $gray-900-rgba
);

$teal-rgba: rgba(202,255,255);
$yellow-rgba: rgba(255,228,30);
$red-rgba: rgba(220,53,69);
$orange-rgba: rgba(255,153,102);
$green-rgba: rgba(11,218,81);
$blue-rgba: rgba(65,105,225);
$indigo-rgba: rgba(102,0,255);
$purple-rgba: rgba(81,11,218);
$cyan-rgba: rgba(10,186,181);
$pink-rgba: rgba(204,51,153);
$white-rgba: rgba(228,237,244);
$black-rgba: rgba(0,1,0);
$brown-rgba: rgba(98,52,18);
$accent-color-rgba: rgba(168,169,173);

$colors-rgba: (
  teal-rgba: $teal-rgba,
  yellow-rgba: $yellow-rgba,
  red-rgba: $red-rgba,
  orange-rgba: $orange-rgba,
  green-rgba: $green-rgba,
  blue-rgba: $blue-rgba,
  indigo-rgba: $indigo-rgba,
  purple-rgba: $purple-rgba,
  cyan-rgba: $cyan-rgba,
  pink-rgba: $pink-rgba,
  white-rgba: $white-rgba,
  black-rgba: $black-rgba,
  brown-rgba: $brown-rgba,
  accent-color-rgba: $accent-color-rgba
);

$framework-primary-rgba: rgba(202,255,255);
$framework-secondary-color-rgba: rgba(255,228,30);
$framework-accent-color-rgba: rgba(168,169,173);

$framework-colors-rgba: (
framework-primary-rgba: $framework-primary-rgba,
framework-secondary-color-rgba: $framework-secondary-color-rgba,
framework-accent-color-rgba: $framework-accent-color-rgba
);

$primary-color-rgba:   rgba(10,186,181);
$secondary-color-rgba: rgba(255,228,30);
$accent-colorrgba:    rgba(168,169,173);
$success-rgba:         rgba(11,218,81);
$warning-rgba:         rgba(255,153,102);
$danger-rgba:          rgba(220,53,69);
$info-rgba:            rgba(65,105,225);
$light-rgba:           rgba(192,192,192);
$dark-rgba:            rgba(26,26,26);

$theme-color-rgba:(
primary-color-rgba:   $primary-color-rgba,
secondary-color-rgba: $secondary-color-rgba,
accent-color-rgba:    $accent-colorrgba,
success-rgba:         $success-rgba,
warning-rgba:         $warning-rgba,
danger-rgba:          $danger-rgba,
info-rgba:            $info-rgba,
light-rgba:           $light-rgba,
dark-rgba:            $dark-rgba
);
