$framework-primary: $cyan;
$framework-secondary: $yellow;
$framework-accent: $silver;

$primary-color: $framework-primary;
$secondary-color: $framework-secondary;
$accent-color-color: $framework-accent;

$success: $green;
$warning: $orange;
$danger: $red;
$info: $blue;
$light: $gray-100;
$dark: $gray-900;

$theme-colors: (
primary-color:   $primary-color,
secondary-color: $secondary-color,
accent-color:    $accent-color-color,
success:         $success,
warning:         $warning,
danger:          $danger,
info:            $info,
light:           $light,
dark:            $dark
);
