/* Grid system */

/* Generate semantic grid columns with these mixins. */

@mixin make-grid()
{
    display: grid;

    width: 100%;
    height: 100%;

    grid-template-rows: repeat($grid-row-columns, 1fr);
    grid-template-columns: repeat($grid-columns, 1fr);
    gap: $grid-gutter;
    grid-gap: $grid-gutter;
}


@mixin grid-loop($name) {
  @include make-col-ready($gutter: $grid-gutter);
  @if $size {
    flex: 0 0 auto;
    @for $i from 1 through $grid-columns{
    .col-#{$i} {
        width: calc(divide($width, $grid-columns) * $i);
    }
  }
  .row-flex {
    float:none;
    flex-basis: divide($width, $grid-columns);
    width: auto;
    max-width: 100%;
  }
}
}
