
@mixin make-row()
{
    position: relative;

    display: flex;
    flex-wrap: wrap;

    width: 100vw;
    margin-top: calc(2 * $gutter-y);
    margin-right: calc(-.5 * $gutter-x); //
    margin-left: calc(-.5 * $gutter-x); //

    $gutter-x: $grid-gutter;
    $gutter-y: 0;
}


/* Row columns*/
/* Specify on a parent element(e.g., .row) to force immediate children into NN numberof columns. Supports wrapping to new lines, but does not do a Masonry
style grid.*/
@mixin row-cols
{
    float: left;

    padding-right: .75em;
    > *
    {
        flex: 0 0 auto;

        width: divide(100, $grid-columns);
    }
}
