/**
 * Root Media Query Variables
 */

$default-width: 38.125rem;
$max-content-width: 1240px;
$responsive-horizontal-spacing: 1.05vw;
$responsive-aligndefault-width: subtract(100vw - $responsive-horizontal-spacing);
$responsive-alignwide-width: subtract(100vw - $responsive-horizontal-spacing);
$responsive-alignfull-width: 100vw;

:root
{
    $responsive-horizontal-spacing: 1.05vw;
    $responsive-aligndefault-width: subtract(100vw - $responsive-horizontal-spacing);
    $responsive-alignwide-width: subtract(100vw - $responsive-horizontal-spacing);
    $responsive-alignfull-width: 100vw;
    $responsive-alignright-margin: $responsive-horizontal-spacing;
    $responsive-alignleft-margin: $responsive-horizontal-spacing;
}

@include media(mobile)
{
    :root
    {
        $responsive-horizontal-spacing: 1.05vw;
        $responsive-aligndefault-width: min(calc(100vw - 4vw) * $responsive-horizontal-spacing), #{$default-width};
        $responsive-alignwide-width: calc(100vw - 4vw) * $responsive-horizontal-spacing;
        $responsive-alignright-margin: min(calc(.5 * 100vw) - $responsive-horizontal-spacing);
        $responsive-alignleft-margin: calc(.5 * (100vw - $responsive-horizontal-spacing));
    }
}

@include media(desktop)
{
    :root
    {
        $responsive-horizontal-spacing: 1.05vw;
        $responsive-aligndefault-width: min(calc(100vw - 8 * $responsive-horizontal-spacing)), #{$default-width};
        $responsive-alignwide-width: min(calc(100vw - 8 * $responsive-horizontal-spacing)), #{$max-content-width};
    }
}

/**
 * Extends
 */



%responsive-aligndefault-width
{
    max-width: $responsive-aligndefault-width;
    margin-right: auto;
    margin-left: auto;
}

%responsive-alignwide-width
{
    max-width: $responsive-alignwide-width;
    margin-right: auto;
    margin-left: auto;
}

%responsive-alignfull-width-mobile
{
    width: $responsive-alignfull-width;
    max-width: $responsive-alignfull-width;
    margin-right: auto;
    margin-left: auto;
}

@include media(mobile)
{
    %responsive-alignfull-width
    {
        width: auto;
        max-width: $responsive-alignfull-width;
        margin-right: auto;
        margin-left: auto;
    }
}

%responsive-alignwide-width-nested
{
    width: $responsive-alignwide-width;
    max-width: $responsive-alignfull-width;
    margin-right: auto;
    margin-left: auto;
}

%responsive-alignfull-width-nested
{
    width: calc($responsive-alignfull-width) - calc(2 * $responsive-horizontal-spacing);
    max-width: $responsive-alignfull-width;
    margin-right: auto;
    margin-left: auto;
}

@include media(desktop)
{
    %responsive-alignfull-width-nested
    {
        width: calc($responsive-alignfull-width) - calc(4 * $responsive-horizontal-spacing);
        max-width: $responsive-alignfull-width;
        margin-right: auto;
        margin-left: auto;
    }
}


%responsive-alignleft-mobile
{
    /*rtl:ignore*/
    margin-right: $responsive-horizontal-spacing;
    /*rtl:ignore*/
    margin-left: 0;
}

@include media(mobile)
{
    $responsive-alignleft-margin: calc(.5 * (100vw - $responsive-horizontal-spacing));
    %responsive-alignleft
    {
        /*rtl:ignore*/
        margin-right: $responsive-horizontal-spacing;
        /*rtl:ignore*/
        margin-left: $responsive-alignleft-margin;
    }
}

%responsive-alignright-mobile
{
    /*rtl:ignore*/
    margin-right: 0;
    /*rtl:ignore*/
    margin-left: $responsive-horizontal-spacing;
}

@include media(mobile)
{
    $responsive-alignright-margin: min(calc(.5 * 100vw) - $responsive-horizontal-spacing);
    %responsive-alignright
    {
        /*rtl:ignore*/
        margin-right: $responsive-alignright-margin;
        /*rtl:ignore*/
        margin-left: $responsive-horizontal-spacing;
    }
}
// Output
.default-max-width
{
    @extend %responsive-aligndefault-width;
}

.wide-max-width
{
    @extend %responsive-alignwide-width;
}

.full-max-width
{
    @extend %responsive-alignfull-width;
}
