$col1: 6.25%;
$col2: 12.50%;
$col3: 18.75%;
$col4: 25%;
$col5: 31.25%;
$col6: 37.50%;
$col7: 43.75%;
$col8: 50%;
$col9: 56.25%;
$col10: 62.50%;
$col11: 68.75%;
$col12: 75%;
$col13: 81.25%;
$col14: 87.50%;
$col15: 93.75%;
$col16: 100%;

$column: (
1: $col1,
2: $col2,
3: $col3,
4: $col4,
5: $col5,
6: $col6,
7: $col7,
8: $col8,
9: $col9,
10: $col10,
11: $col11,
12: $col12,
13: $col13,
14: $col14,
15: $col15,
16: $col16
);
