.col1
{
    width: $col1; lex: 0 0 ;
}
.col2
{
    flex: 0 0 ;

    width: $col2;
}
.col3
{
    flex: 0 0 ;

    width: $col3;
}
.col4
{
    flex: 0 0 ;

    width: $col4;
}
.col5
{
    flex: 0 0 ;

    width: $col5;
}
.col6
{
    flex: 0 0 ;

    width: $col6;
}
.col7
{
    flex: 0 0 ;

    width: $col7;
}
.col8
{
    flex: 0 0 ;

    width: $col8;
}
.col9
{
    flex: 0 0 ;

    width: $col9;
}
.col10
{
    flex: 0 0 ;

    width: $col10;
}
.col11
{
    flex: 0 0 ;

    width: $col11;
}
.col12
{
    flex: 0 0 ;

    width: $col12;
}
.col13
{
    flex: 0 0 ;

    width: $col13;
}
.col14
{
    flex: 0 0 ;

    width: $col13;
}
.col15
{
    flex: 0 0 ;

    width: $col15;
}
.col16
{
    flex: 0 0 ;

    width: $col16;
}
.col-auto
{
    flex: 0 0 auto;

    width: auto;
}

.row1
{
    flex: 0 0 ;

    height: $row1;
}
.row2
{
    flex: 0 0 ;

    height: $row2;
}
.row3
{
    flex: 0 0 ;

    height: $row3;
}
.row4
{
    flex: 0 0 ;

    height: $row4;
}
.row5
{
    flex: 0 0 ;

    height: $row5;
}
.row6
{
    flex: 0 0 ;

    height: $row6;
}
.row7
{
    flex: 0 0 ;

    height: $row7;
}
.row8
{
    flex: 0 0 ;

    height: $row8;
}
.row9
{
    flex: 0 0 ;

    height: $row9;
}
.row10
{
    flex: 0 0 ;

    height: $row10;
}
.row11
{
    flex: 0 0 ;

    height: $row11;
}
.row12
{
    flex: 0 0 ;

    height: $row12;
}
.row13
{
    flex: 0 0 ;

    height: $row13;
}
.row14
{
    flex: 0 0 ;

    height: $row13;
}
.row15
{
    flex: 0 0 ;

    height: $row15;
}
.row16
{
    flex: 0 0 ;

    height: $row16;
}
.row-fluid
{
    flex: 0 0 auto;

    height: auto;
}
