// Starts at zero
// Used to ensure the min-width of the lowest breakpoint starts at 0.

@mixin _assert-starts-at-zero($map, $map-name) {
  @if length($map) > 0 {
    $values: map-values($map);
    $first-value: nth($values, 1);
    @if $first-value != 0 {
      @warn "First breakpoint in #{$map-name} must start at 0, but starts at #{$first-value}.";
    }
  }
}

@mixin assert-starts-at-zero($map: $grid-breakpoints, $map-name: "$grid-breakpoints") {
  @include assert-starts-at-zero($map, $map-name);
}
