// scss-docs-start clearfix
@mixin clearfix
{
    &::after
    {
        display: block;
        clear: both;

        content: '';
    }

    &:after,
    &:before
    {
        display: table;

        table-layout: fixed;

        content: ' ';
    }

    &:after
    {
        clear: both;
    }
}

// scss-docs-end clearfix
