// container mixins

@mixin make-container()
{
    display: grid-inline;

    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: $gutter-x;
    padding-left: $gutter-x;

    $gutter-x: $spacer;
    $gutter-y: 0;
}

@mixin make-container-style()
{
    border-width: $border-width;
    border-style: solid;
    border-style: hidden;
    border-color: transparentize($color, $amount);
    border-radius: $border-radius;
}
