@use 'sass:map';

/* Grid breakpoints */
/* Define the minimum dimensions at which your layout will change, adapting to different screen sizes, for use in media queries. */
$grid-breakpoints: (
xs: 0,
sm: 560px,
md: 752px,
lg: 976px,
xl: 1184px,
xxl: 1384px
);

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$breakpoint: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$breakpoints: (
    'xxl' '(min-width: ' + ($breakpoint-xl + 1) + ') and (max-width: ' + $breakpoint-xxl + ')',
    'xl' '(min-width: ' + ($breakpoint-lg + 1) + ') and (max-width: ' + $breakpoint-xl + ')',
    'lg' '(min-width: ' + ($breakpoint-md + 1) + ') and (max-width: ' + $breakpoint-lg + ')',
    'md' '(min-width: ' + ($breakpoint-sm + 1) + ') and (max-width: ' + $breakpoint-md + ')',
    'sm' '(min-width: ' + ($breakpoint-xs + 1) + ') and (max-width:'  + $breakpoint-sm + ')',
    'xs' '(max-width: ' + $breakpoint-xs + ')'
);

$size: nth($grid-breakpoints, 1);
$name: nth($grid-breakpoints, 1);

$infix: breakpoint-infix($breakpoint, $grid-breakpoints);
