/* Grid containers */
/* Define the maximum width of `.container` for different screen sizes. */
$container-max-widths: (
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1400px
);

/* Container padding */
$container-padding-x: $grid-gutter * .5;
$container-padding-y: $grid-gutter;

$container-offset: (2 * $grid-gutter);
