/* Grid columns */
/* Set the number of columns and specify the width of the gutters. */
/* @see https://getbootstrap.com/docs/5.1/layout/grid/#variables */
$grid-columns: 16;
$grid-gutter: 5px;
$grid-row-columns: 16;


$gutter-x: $grid-gutter * 2.5;
$gutter-y: $grid-gutter;

$grid-max-width: 1320px + ($grid-gutter * 2);

$default-width: 610px;
$max-content-width: 1320px;
