@use 'spacings/spacer';

@import
  'spacings/grid/grid-breakpoints',
  'spacings/grid/containers',
  'spacings/grid/grid-variables';

/* -------------------------------------------------------------------------- */

$gutters: $spacers;
$grid-breakpoint: $breakpoint;

$size: nth($grid-breakpoints, 1);
$name: nth($grid-breakpoints, 1);
$declaration: nth($grid-breakpoint, 2);
$infix: breakpoint-infix($breakpoint, $grid-breakpoint);


@include assert-ascending($grid-breakpoints, "$grid-breakpoint");
@include assert-starts-at-zero($grid-breakpoints, "$grid-breakpoint");
@include assert-ascending($container-max-widths, "$container-max-widths");

/* -------------------------------------------------------------------------- */
