// Components
$border-width: 1px;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
);

$border-width-md: 2;
$border-width-lg: 3;
$border-width-focus: 4;
$border-width-hover: $border-width-lg;

$border-radius: .95rem;
$border-radius-sm: .55rem;
$border-radius-lg: 1.45rem;
$border-radius-pill: 50rem;

$border-color: $cjmt-gray-300;
