@use 'sass:map';

@import
  'colors/grid-colors',
  'colors/grid-rgb',
  'colors/gradient',
  'colors/box-shadows';


/* -------------------------------------------------------------------------- */

$utilities-bg-colors: $theme-colors;
$utilities-colors: $colors;

/* -------------------------------------------------------------------------- */

@import
  'spacings/spacer',
  'spacings/block-spacing',
  'spacings/base-unit',
  'spacings/aspect-ratios',
  'spacings/position-value',
  'spacings/zindex',
  'responsiveness';

/* -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- */

@import
  'grid/breakpoints',
  'grid/variables',
  'grid/containers',
  'grid/col';

/* -------------------------------------------------------------------------- */

$gutters: $spacers;
$grid-breakpoint: $breakpoint;
$rows: $grid-row-columns;

$size: nth($grid-breakpoints, 1);
$name: nth($grid-breakpoints, 1);
$declaration: nth($breakpoint, 2);
$infix: breakpoint-infix($breakpoint, $grid-breakpoints);
$i: 100;

$map: $grid-breakpoints;
$map-name: $breakpoint;

@include assert-ascending($map, $map-name);
@include assert-starts-at-zero($map, $map-name);
@include assert-ascending($container-max-widths, '$container-max-widths');

/* -------------------------------------------------------------------------- */
@import 'components';
$cjmt-font-sans-serif: Euphorigenic, 'Hand Typewriter', 'Enjoy Writing', Avdira, Wanda 'Glass Antiqua', 'Love Ya Likes A Sister', Pompiere, 'Hadley';
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
// stylelint-enable value-keyword-case
$cjmt-font-family: $cjmt-font-sans-serif;
$font-code: 'Courier New';
$font-size-root: null;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * 1.25;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

$font-weight-base: $font-weight-normal;

$body-bg: #000100;
$body-color: #e4edf4;
$body-text-align: null;

$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 2;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
$colors: map-merge($colors, $theme-colors);

$utilities-colors: map-merge(
  $utilities-colors,
  (
    'body': to-rgb($body-color)
  )
);

$utilities-text-colors: $utilities-colors;

$utilities-text-colors: map-merge($utilities-colors, $utilities-text-colors);

/* -------------------------------------------------------------------------- */

$font-sans-serif: $cjmt-font-sans-serif;
$base-font-family: $cjmt-font-family;
