/* #SPACING# */

$escaped-characters: (
  ('<', '%3c'),
  ('>', '%3e'),
  ('#', '%23'),
  ('(', '%28'),
  (')', '%29'),
);

// Prefix for :root CSS variables

$variable-prefix: --;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// scss-docs-start spacer-variables-maps
@import 'spacings/spacer';
// scss-docs-end spacer-variables-maps

// scss-docs-start position-map
@import 'spacings/position-value';
// scss-docs-end position-map

@import 'spacings/base-unit';

@import
  'spacings/padding',
  'spacings/aspect-ratios',
  'spacings/cols',
  'spacings/rows',
  'spacings/span';

// Placeholders
// scss-docs-start placeholders
$placeholder-opacity-max: .5;
$placeholder-opacity-min: .2;
// scss-docs-end placeholders

$separator-height: 1px;

@import 'spacings/zindex';
