/*
 * Media query to respond to a minimum size (mobile first)
 */
@mixin resp-min($size)
{
    @media screen and (min-width: $size)
    {
        @content;
    }
}
@mixin from($screen-size)
{
    @media screen and (min-width: $screen-size)
    {
        width: 88%;
        @content;
    }
}
@mixin until($device)
{
    @media screen and (max-width: $device - 1px)
    {
        @content;
        width: 83%;
        max-width: 85rem;
    }
}
@mixin mobile
{
    @media screen and (max-width: $breakpoint-small)
    {
        @content;
    }
}
@mixin tablet
{
    @media screen and (min-width: $breakpoint-small + 1), print
    {
        @content;
    }
}
@mixin tablet-only
{
    @media screen and ($breakpoint-medium)
    {
        @content;
    }
}
@mixin laptop-only
{
  @media screen and ($breakpoint-large)
  {
      @content;
  }
}
@mixin desktop
{
  @media screen and ($breakpoint-xl)
  {
      @content;
  }
}
@mixin desktop-only
{
    @if $widescreen-enabled
    {
        @media screen and ($breakpoint-large)
        {
            @content;
        }
    }
}
@mixin until-widescreen
{
    @if $widescreen-enabled
    {
        @media screen and (max-width: $widescreen - 1px)
        {
            @content;
        }
    }
}
@mixin widescreen
{
    @if $widescreen-enabled
    {
        @media screen and (min-width: $widescreen)
        {
            @content;
        }
    }
}
@mixin widescreen-only
{
    @if $widescreen-enabled and $fullhd-enabled
    {
        @media screen and (min-width: $widescreen) and (max-width: $fullhd - 1px)
        {
            @content;
        }
    }
}
@mixin until-fullhd
{
    @if $fullhd-enabled
    {
        @media screen and (max-width: $fullhd - 1px)
        {
            @content;
        }
    }
}
@mixin fullhd
{
    @if $fullhd-enabled
    {
        @media screen and (min-width: $fullhd)
        {
            @content;
        }
    }
}
