
$shadow: $cjmt-gray-700;
$shadow-active: $cjmt-gray-500;
$shadow-hover: $cjmt-gray-300;
$shadow-focus: $cjmt-gray-100;

$shadow-rgb: $cjmt-gray-700-rgb;
$shadow-active-rgb: $cjmt-gray-500-rgb;
$shadow-hover-rgb: $cjmt-gray-300-rgb;
$shadow-focus-rgb: $cjmt-gray-100-rgb;

/* BOX SHADOW */
$box-shadow: 1.75rem 1.5rem 1.75rem $shadow;
$box-shadow-sm: 1.25rem 1rem 1.25rem rgba($shadow-rgb, .075);
$box-shadow-lg: 2.25rem 2rem 2.25rem rgba($shadow-rgb, .175);
$box-shadow-active: 1.75rem 1.5rem 1.75rem rgba($shadow-active-rgb, .25);
$box-shadow-hover: inset .25rem .50rem .75rem rgba($shadow-hover-rgb, .075);
$box-shadow-focus: inset .25rem .50rem .75rem rgba($shadow-focus-rgb, .075) 25%;
