
$cjmt-gray-100-rgb: rgb(192,192,192);
$cjmt-gray-200-rgb: rgb(154 154 154);
$cjmt-gray-300-rgb: rgb(123, 123, 123);
$cjmt-gray-400-rgb: rgb(98 98 98);
$cjmt-gray-500-rgb: rgb(78,78,78);
$cjmt-gray-600-rgb: rgb(62,62,62);
$cjmt-gray-700-rgb: rgb(50,50,50);
$cjmt-gray-800-rgb: rgb(40,40,40);
$cjmt-gray-900-rgb: rgb(26,26,26);

$cjmt-gray-rgb: (
cjmt-gray-100-rgb: $cjmt-gray-100-rgb,
cjmt-gray-200-rgb: $cjmt-gray-200-rgb,
cjmt-gray-300-rgb: $cjmt-gray-300-rgb,
cjmt-gray-400-rgb: $cjmt-gray-400-rgb,
cjmt-gray-500-rgb: $cjmt-gray-500-rgb,
cjmt-gray-600-rgb: $cjmt-gray-600-rgb,
cjmt-gray-700-rgb: $cjmt-gray-700-rgb,
cjmt-gray-800-rgb: $cjmt-gray-800-rgb,
cjmt-gray-900-rgb: $cjmt-gray-900-rgb
);


$blue-rgb:   rgb(13, 110, 253);
$indigo-rgb:  rgb(102, 16, 242);
$purple-rgb:  rgb(111, 66, 193);
$pink-rgb:   rgb(214, 51, 132);
$red-rgb:  rgb(220, 53, 69);
$orange-rgb:  rgb(253, 126, 20);
$yellow-rgb:  rgb(255, 193, 7);
$green-rgb:  rgb(25, 135, 84);
$teal-rgb:  rgb(32, 201, 151);
$cyan-rgb:   rgb(13, 202, 240);

$colors-rgb: (
blue-rgb:   $blue-rgb,
indigo-rgb:  $indigo-rgb,
purple-rgb:  $purple-rgb,
pink-rgb:   $pink-rgb,
red-rgb:  $red-rgb,
orange-rgb:  $orange-rgb,
yellow-rgb:  $yellow-rgb,
green-rgb:  $green-rgb,
teal-rgb:  $teal-rgb,
cyan-rgb:   $cyan-rgb
);

$primary-rgb: rgb(13, 202, 240);
$secondary-rgb: rgb(255, 193, 7);
$accent-rgb: rgb(32, 201, 151);
$success-rgb: rgb(25, 135, 84);
$info-rgb: rgb(13, 110, 253);
$warning-rgb: rgb(253, 126, 20);
$danger-rgb: rgb(220, 53, 69);

$theme-colors-rgb: (
  "primary-rgb":    $primary-rgb,
  "secondary-rgb":  $secondary-rgb,
  "accent-rgb":     $accent-rgb,
  "success-rgb":    $success-rgb,
  "info-rgb":       $info-rgb,
  "warning-rgb":    $warning-rgb,
  "danger-rgb":     $danger-rgb
);
