/**
 * Required Variables
 */

$default-width: 38.125rem;
$max-content-width: 1240px;

$tablet: 1224px;
$desktop: 1824px;

$breakpoint-sm: 482px;
$breakpoint-md: 592px;
$breakpoint-lg: 652px;
$breakpoint-xl: 822px;
$breakpoint-xxl: 1024px;
