:root {
  // Note: Custom variable values only support SassScript inside `#{}`.

  // Colors
  //
  // Generate palettes for full colors, grays, and theme colors.

  @each $color, $value in $colors {
    --#{$variable-prefix}#{$color}: #{$value};
  }

  @each $color, $value in $grays {
    --#{$variable-prefix}#{$primary-color}#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors {
    --#{$variable-prefix}#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors-rgba {
    --#{$variable-prefix}#{$color}-rgba: #{$value};
  }

  --#{$variable-prefix}white-rgba: #{to-rgba($white)};
  --#{$variable-prefix}black-rgba: #{to-rgba($black)};
  --#{$variable-prefix}text-rgba: #{to-rgba($body-bg)};
  --#{$variable-prefix}body-bg-rgba: #{to-rgba($body-bg)};

  // Fonts

  // Note: Use `inspect` for lists so that quoted items keep the quotes.
  // See https://github.com/sass/sass/issues/2383#issuecomment-336349172
  --#{$variable-prefix}font-sans-serif: #{inspect($font-sans-serif)};
  --#{$variable-prefix}font-monospace: #{inspect($font-monospace)};
  --#{$variable-prefix}gradient: #{$gradient};

  // Root and body
  // stylelint-disable custom-property-empty-line-before
  // scss-docs-start root-body-variables
  @if $font-size-root != null {
    --#{$variable-prefix}root-font-size: #{$font-size-root};
  }
  --#{$variable-prefix}body-font-family: #{$base-font-family};
  --#{$variable-prefix}body-font-size: #{$base-unit};
  --#{$variable-prefix}body-font-weight: #{$font-weight-base};
  --#{$variable-prefix}line-height-body: #{line-height-md};
  --#{$variable-prefix}text: #{$body-bg};
  @if $body-text-align != null {
    --#{$variable-prefix}body-text-align: #{$body-text-align};
  }
  --#{$variable-prefix}body-bg: #{$body-bg};
  // scss-docs-end root-body-variables
  // stylelint-enable custom-property-empty-line-before
}
