/* Utilities Border */
$active-border:     $framework-primary-900;
$danger-border:     $red-900;
$disabled-border:   $gray-900;
$hover-border:      $framework-secondary-900;
$info-border:       $blue-900;
$success-border:    $green-900;
$table-border:      $teal-900;
$warning-border:    $orange-900;
$widget-border:     $silver-900;
$visited-border:    $purple-900;
$nav-border:        $border;
$invalid-border: $danger-border;
$valid-border: $success-border;

$utilities-border: (
active-border:     $active-border,
danger-border:     $danger-border,
disabled-border:   $disabled-border,
hover-border:      $hover-border,
info-border:       $info-border,
success-border:    $success-border,
table-border:      $table-border,
warning-border:    $warning-border,
widget-border:     $widget-border,
visited-border:    $visited-border,
nav-border:        $nav-border,
invalid-border:    $invalid-border,
valid-border:      $valid-border
);
