/* Utitities Color */
$framework-primary:   $cyan;
$framework-secondary: $yellow;
$framework-accent:    $silver;

$active:              $framework-primary;
$active-border:       $framework-secondary;
$active-percentage: 25%;
$active-hover:        shift-color($active, $active-percentage);
$active-border-hover: shift-color($active-border, $active-percentage);
$active-bg-hover:     $framework-accent;
$active-bg:           $active-bg-hover;

$disabled:            $gray-200;
$disabled-border:     $gray-400;
$disabled-bg:         $gray-300;

$hover:               $active-hover;
$hover-border:        $active-border-hover;
$hover-bg:            $active-bg-hover;

$component-active-color:    $active;
$component-active-bg:       $active-bg;
$component-active-border:   $active-border;

$link-active:                   $active;
$link-active-border:            $active-border;
$link-active-decoration:        none;
$link-active-hover:             $hover;
$link-active-hover-border:      $hover-border;
$link-active-hover-bg:          $active-bg;
$link-active-hover-decoration:  underline;

$nav:         $brown;
$border:      $brown;
$nav-border:  $border;
$divider:     $border;
$separator:   $border;
$visited:     $purple;
$table:       $teal;
$widget:      $silver;

$valid:       #0bda51;
$invalid:     #dc3545;

$utilities-colors:(
active:       $active,
disabled:     $disabled,
hover:        $hover,
nav:          $nav,
border:       $border,
nav-border:   $nav-border,
divider:      $divider,
separator:    $separator,
visited:      $visited,
table:        $table,
widget:       $widget,
valid:        $valid,
invalid:      $invalid
);

$component-active-color:    $active;
$component-active-bg:       $active-bg;
$component-active-border:   $active-border;

$link-active:                   $active;
$link-active-border:            $active-border;
$link-active-decoration:        none;
$link-active-hover:             $hover;
$link-active-hover-border:      $hover-border;
$link-active-hover-bg:          $active-bg;
$link-active-hover-decoration:  underline;
