/* Utilities Text Variables */
$text-muted-rgba:       rgba(98,98,98);
$text-rgba:             rgba(0,1,0);
$body-rgba:             rgba(228,237,244);
$caption-rgba:          rgba(62,62,62);
$caption-border-rgba:   rgba(26,26,26);
$light-rgba:            rgba(192,192,192);
$dark-rgba:             rgba(26,26,26);
$input-rgba:            rgba(78,78,78);
$input-bg-rgba:         rgba(192,192,192);
$input-border-rgba:     rgba(26,26,26);
$input-focus-rgba:      rgba(40,40,40);
$input-focus-bg-rgba:     rgba(228,237,244);
$input-focus-border-rgba: rgba(26,26,26);

$utilities-text-rgba:(
text-muted-rgba:          $text-muted-rgba,
text-rgba:                $text-rgba,
body-rgba:                $body-rgba,
caption-rgba:             $caption-rgba,
caption-border-rgba:      $caption-border-rgba,
light-rgba:               $light-rgba,
dark-rgba:                $dark-rgba,
input-rgba:               $input-rgba,
input-bg-rgba:            $input-bg-rgba,
input-border-rgba:        $input-border-rgba,
input-focus-rgba:         $input-focus-rgba,
input-focus-bg-rgba:      $input-focus-bg-rgba,
input-focus-border-rgba:  $input-focus-border-rgba
);

/* Utilities Colors */
$info-rgba:       rgba(65,105,225);
$success-rgba:    rgba(11,218,81);
$warning-rgba:    rgba(255,153,102);
$danger-rgba:     rgba(220,53,69);
$active-rgba:      rgba(10,186,181);
$border-rgba:      rgba(98,52,18);
$danger-rgba:      rgba(220,53,69);
$invalid-rgba:    rgba(220,53,69);
$disabled-rgba:    rgba(192,192,192);
$focus-rgba:      rgba(81,11,218);
$hover-rgba:      shift-color(rgba(10,186,181), $active-percentage);
$info-rgba:       rgba(65,105,225);
$nav-rgba:        rgba(98,52,18);
$success-rgba:    rgba(11,218,81);
$valid-rgba:      rgba(11,218,81);
$table-rgba:      rgba(202,255,255);
$warning-rgba:    rgba(255,153,102);
$widget-rgba:     rgba(168,169,173);
$visited-rgba:    rgba(81,11,218);

$utilitis-colors-rgba: (
  success-rgba: $success-rgba,
  info-rgba: $info-rgba,
  warning-rgba: $warning-rgba,
  danger-rgba: $danger-rgba,
  active-rgba:     $active-rgba,
  border-rgba:     $border-rgba,
  disabled-rgba:   $disabled-rgba,
  focus-rgba:      $focus-rgba,
  hover-rgba:      $hover-rgba,
  nav-rgba:        $nav-rgba,
  valid-rgba:    $valid-rgba,
  table-rgba:      $table-rgba,
  widget-rgba:     $widget-rgba,
  visited-rgba:    $visited-rgba
);
