/* Utilities Text */
$text-muted:      $gray-400;
$text:            $black;
$body:            $white;

$light:           $gray-100;
$dark:            $gray-900;

/* Input Utilities */
$input:               $gray-500;
$input-bg:            $gray-100;
$input-border:        $gray-900;
$input-focus:         $gray-800;
$input-focus-bg:      $white;
$input-focus-border:  $gray-100;


$utilities-text-colors:(
text-muted:         $text-muted,
text:               $text,
body:               $body,
light:              $light,
dark:               $dark
);

$utilities-text:(
input:              $input,
input-bg:           $input-bg,
input-border:       $input-border,
input-focus:        $input-focus,
input-focus-bg:     $input-focus-bg,
input-focus-border: $input-focus-border
);
