/**
 * Repsonsive Styles
 */

/**
 * Required Variables
 */

$default-width: 610px;
$max-content-width: 1240px;

$tablet: 1225px;
$desktop: 1824px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

// Responsive breakpoints mixin
@mixin media($res) {

	@if mobile-only == $res {
		@media only screen and (max-width: #{$breakpoint-sm - 1}) {
			@content;
		}
	}

	@if mobile == $res {
		@media only screen and (min-width: #{$breakpoint-sm}) {
			@content;
		}
	}

	@if tablet-only == $res {
		@media only screen and (max-width: #{$breakpoint-md - 1}) {
			@content;
		}
	}

	@if tablet == $res {
		@media only screen and (min-width: #{$breakpoint-md}) {
			@content;
		}
	}

	@if laptop-only == $res {
		@media only screen and (max-width: #{$breakpoint-lg - 1}) {
			@content;
		}
	}

	@if laptop == $res {
		@media only screen and (min-width: #{$breakpoint-lg}) {
			@content;
		}
	}

	@if desktop-only == $res {
		@media only screen and (max-width: #{$breakpoint-xl - 1}) {
			@content;
		}
	}

	@if desktop == $res {
		@media only screen and (min-width: #{$breakpoint-xl}) {
			@content;
		}
	}

	@if wide-only == $res {
		@media only screen and (max-width: #{$breakpoint-xxl - 1}) {
			@content;
		}
	}

	@if wide == $res {
		@media only screen and (min-width: #{$breakpoint-xxl}) {
			@content;
		}
	}
}
